body,
html {
   margin: 0;
   padding: 2%;
   height: 100vh;
   width: 100vw;
}

.form-container {
   width: 70%;
}

.form {
   display: flex;
   align-items: center;
}

.list-container {
   width: 70%;
   margin: 5%;
}

.list-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.checkbox {
   width: fit-content;
   margin: 0;
   padding: 0;
   padding-right: 10px;
}

.list-content {
   margin: 0;
   padding: 0;
   max-width: 60%;
   overflow: hidden;
}

.btn-set {
   display: flex;
   width: fit-content;
   margin: 0;
   padding: 0;
   margin-left: 10px;
}
.icon {
   padding-left: 5px;
}

.close-btn {
   margin-left: 10px;
}

@media screen and (min-width: 800px) {
   .form-container {
      width: 40%;
   }
   .list-container {
      width: 40%;
   }
}
